@keyframes rotate {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@-webkit-keyframes rotate {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

html,body  {
	min-height: 100%;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.sun,
.neptune,
.sunn {
	border-radius: 100%;
	animation: rotate 15s infinite linear;
	-webkit-animation: rotate 15s infinite linear;
}

.sun {
	width: 50vh;
	height: 50vh;
	margin: 0 auto;
	background-image: radial-gradient(#f40, #f60);
	box-shadow: 0 0 50px 15px #f60;
}

.sunn {
	width: 10vh;
	height: 10vh;
	margin-left: 15vh;
}

.neptune {
	width: 5vh;
	height: 5vh;
	margin-left: -15vh;
	background-image: radial-gradient(#fff, #09f 40%);
}

.name {
	position: relative;
	top: 2vh;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1px;
}